:root {
  /*estas van a ser nuestras variables de estilo*/
  --very-light-pink: #C7C7C7;
  --white: #FFFFFF;
  --black: #000000;
  --text-input-field: #F7F7F7;
  --hospital-green: #ACD9B2;
  --sm: 14px;
  /*small*/
  --md: 16px;
  /*medio*/
  --lg: 18px;
  /*large*/
}
