.container {
  border: 5px solid #e1bee7;
  background-color: #fff1ff;
  display: grid;
  grid-auto-flow: column;/* invierte la posicion de los items*/
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  gap: 20px;
}

.item {
  border: 5px solid #00bcd4;
  font-size: 4rem;
}

.item-2 {
  background-color: coral;
  grid-column: 1 /span 2;
  order: 2;
}

.item-4 {
  background-color: yellow;
  grid-column-start: 2;
  grid-column-end: 4;
}